@tailwind base;
@tailwind components;
@tailwind utilities;
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/noto-sans-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Toxia";
  src: url('./fonts/toxia.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body, html{
  height: 100%;
}
#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cookpal{
  font-family: "Noto Sans" sans-serif;
}
